body{
    background-color: #0F161A;
    font-family: monospace;
    color: white;
    font: normal 15pt monospace;
}


header{
    text-align: center;
    background-color: #2A2F32;
    width: 600px;
    height: 45px;
    border-radius: 10px;
    margin: auto;
}
h1{
    margin-top: 1px;
    font-size: 25pt;
}


#section1{
    background-color:#056162;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    margin: auto;    
}
#divPlacar{
    text-align: center;
    background-color: #2A2F32;
    width: 230px;
    height: 35px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;

}
#pPlacar{
    font: bold 15pt monospace;
}
.divUsuarios{
    background-color: #055654;
    width: 450px;
    height: 115px;
    margin: auto;
    border-radius: 10px;
    
}
.divNome{
    display: inline-block;
    margin-left: 40px;
    width: 100px;
    height: 150px;
}
.pNome{
    text-align: left;
    font: bold 22pt monospace;
    letter-spacing: 5px;
}

.fundoResultado{
    margin-top: 10px;
    margin-left: 170px;
    display: inline-block;
    background-color: #056162;
    width: 96px;
    height: 96px;
    border-radius: 20px;
    
}
#divResultadoPc{
    background-color: #464C4F;
    margin: auto;
    margin-top: 4px;
    width: 80px;
    height: 80px;
    border: 3px solid;
    border-radius: 20px;
    border-color: #626f75;
    
}
#pEscolhaPc{
    font-size: 40pt;
    margin-top: 0px;
    text-align: center;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
#divResultadoJogador{
    background-color: #464C4F;
    margin: auto;
    margin-top: 5px;
    width: 80px;
    height: 80px;
    border: 3px solid;
    border-radius: 20px;
    border-color: #626f75;
    
}
#pEscolhaJogador{
    font-size: 40pt;
    margin-top: 0px;
    text-align: center;
}


#section2{
    background-color:#056162;
    width: 500px;
    height: 55px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: auto;
    margin-top: 7px;
}
#divLogResultado{
    padding: 1px;
    margin: auto;
    width: 500px;
    height: 40px;
}
#pLogResultado{
    font: bold 17pt monospace;
    color: #1E2428;
    margin-top: 10px;
    text-align: center;
}

#section3{
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
}
#divButtons{
    margin: auto;
    width: 500px;
}
.buttonsEscolhaSection3{
    font: normal 40pt monospace;
    background-color: #FF3333;
    border: 10px solid;
    border-color: #FC2727;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin-left: 43px;
}
#section4{
    width: 800px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}
#divOpcoesSection4{
    width: 540px;
    margin: auto;
    text-align: center;
}
#buttonReiniciar{
    width: 156px;
    height: 34px;
    border-radius: 10px;
    background-color: #33383B; 
    font: bold 15pt monospace;
    color: #828689;
}


#section5{
    margin: auto;
    text-align: center;
}
#selectHistorico{
    font: normal 15pt monospace;
    width: 500px;
    height: 180px;
    text-align: center;
    background-color: #2a424d;
    
}
#optionHistorico{
    text-align: center;
    margin-left: 0px;
    background-color:  #2A2F32;
}
option{
    margin-left: 40px;
    text-align: left;
    color: #828689;
}


footer{
    font: italic 15pt monospace;
    margin-top: 10px;
    text-align: center;
    color: #2a424d;
}
a{
    color: #056162;
}

